<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loadouts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Calculator</h1>
    <form action="/calculator" method="post">
        <label for="trader">Select Trader:</label>
        <select name="trader" id="trader">
            <option value="">Trader</option>
            {% for trader_key, trader_name in traders %}
                <option value="{{ trader_key }}">{{ trader_name }}</option>
            {% endfor %}
        </select>

        <label for="armor">Select Armor:</label>
        <select name="armor" id="armor">
            <option value="">Armor</option>
            {% for armor_key, armor_name in armors %}
                <option value="{{ armor_key }}">{{ armor_name }}</option>
            {% endfor %}
        </select>

        <label for="durability">Current Durability:</label>
        <input type="number" name="durability" id="durability" placeholder="Enter current durability">
    
        <input type="submit" value="Calculate">
    </form>
    
    <h2>Repair Information</h2>
    <label for="rubles">Repair Costs in Rubles</label>
    {% if cost %}
    <output type="text" name="cost" id="cost">{{ cost }}<br>
    {% endif %}
    
    {% if repair_info %}
    <ul>
        <li>
            Trader: {{ repair_info[0] }} |
            Armor: {{ repair_info[1] }} |
            Material: {{ repair_info[2] }} |
            Current Durability: {{ repair_info[3]}} / {{ repair_info[4] }}
        </li>
    </ul>
{% else %}
    <p>No loadouts match the selected criteria.</p>
{% endif %}

</body>
</html>
